public/assets/
/vendor/
silverstripe-cache/
resources/
.graphql-generated/
public/_graphql/

.env
_ss_environment.php

silverstripe.log
.idea/
composer.phar
upgrade-code.phar
node_modules/

certs/local.*
local.yml
