body {
  font: 16px/28px "proxima-nova", sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 66px;
}
h2 {
  font-size: 30px;
  line-height: 35px;
}
h3 {
  font-size: 30px;
  line-height: 32px;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 35px;
  }
  h2,
  h3 {
    font-size: 29px;
    line-height: 30px;
  }
  .left-content {
    font-size: 16px;
  }
}
.chosen-container .chosen-results li {
  padding: 14px 6px;
  font-size: 20px;
  line-height: 22px;
  min-height: 50px;
}
.table {
  margin-bottom: 50px;
}
.table table {
  max-wdith: 1110px;
}
.table table th,
.table table td {
  padding: 26px 8px;
}
.table table th {
  font-size: 18px;
}
.table table th.main {
  font-size: 20px;
}
.accordion-c .title-c a {
  padding: 24px 0;
  max-width: 1000px;
}
.accordion-c .title-c a:after {
  font-size: 12px;
}
@media screen and (max-width: 980px) {
  .accordion-c .title-c a:after {
    right: 16px;
  }
}
@media screen and (max-width: 880px) {
  .accordion-c .title-c {
    font-size: 22px;
    line-height: 29px;
  }
}
@media screen and (max-width: 620px) {
  .accordion-c .title-c {
    font-size: 19px;
    line-height: 26px;
  }
}
.accordion-c .accordion-item .accordion-item-content {
  max-width: 1000px;
}
.accordion-c .accordion-item .accordion-item-content.element-content-generic {
  padding-top: 32px;
}
.case-study-holder {
  margin: 0 auto 32px;
  padding-top: 88px;
}
.case-study {
  margin-top: 48px;
  padding-bottom: 24px;
}
.case-study .component-alignment {
  padding: 0 0 120px;
}
.case-study .left {
  margin-top: -60px;
}
.case-study .left.no-image {
  padding-top: 48px;
}
.case-study .left picture {
  padding-bottom: 28px;
  margin-bottom: 14px;
}
.case-study .left .icon {
  font-size: 48px;
  margin-bottom: 32px;
}
.case-study .left p {
  font-size: 40px;
  line-height: 48px;
  margin-top: 88px;
}
.case-study .right {
  padding-top: 24px;
  font-size: 18px;
}
.case-study .right h3 {
  font-size: 20px;
}
@media screen and (max-width: 980px) {
  .case-study .left p {
    font-size: 30px;
    line-height: 32px;
  }
}
@media screen and (max-width: 680px) {
  .case-study .right {
    padding-top: 32px;
  }
}
.page-contents .content .article .case-study .left .icon {
  font-size: 48px;
  margin-bottom: 32px;
}
.page-contents .content .article .case-study .left p {
  font-size: 24px;
  line-height: 32px;
}
.carousel .flex-control-nav {
  bottom: 16px;
}
@media screen and (max-width: 1140px) {
  .carousel .flex-control-nav {
    padding: 0 16px;
  }
}
.carousel .flex-control-nav li {
  margin-right: 5px !important;
}
.carousel .flex-control-nav li a {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 1140px) {
  .carousel.content-slide .slides .wrapper {
    padding: 16px;
  }
}
.carousel .slides .content {
  padding: 0 0 64px 0px;
}
.carousel .slides li.title .wrapper h2 {
  font-size: 104px;
  line-height: 96px;
}
@media screen and (max-width: 1140px) {
  .carousel .slides li.title .wrapper h2 {
    font-size: 72px;
    line-height: 64px;
  }
}
@media screen and (max-width: 820px) {
  .carousel .slides li.title .wrapper h2 {
    font-size: 46px;
    line-height: 46px;
  }
}
.carousel .slides li.title-content .wrapper h2 {
  font-size: 80px;
  line-height: 80px;
}
@media screen and (max-width: 980px) {
  .carousel .slides li.title-content .wrapper h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1140px) {
  .carousel .slides li.title-content-compact .left {
    padding-left: 16px;
  }
}
.carousel .slides li.title-content-compact .left h3 {
  font-size: 28px;
  padding-bottom: 16px;
  margin-bottom: 40px;
}
.carousel .slides li.title-content-compact .left h2 {
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 32px;
}
@media screen and (max-width: 980px) {
  .carousel .slides li.title-content-compact .left h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
.carousel .slides li.title-content-compact .left p {
  font-size: 18px;
}
.carousel .slides li.title-content-compact .right h3 {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 16px;
  margin: 16px 0 42px 0;
}
.carousel .slides li.title-content-compact .right h3 span {
  font-size: 14px;
  padding-right: 10px;
}
@media screen and (max-width: 980px) {
  .carousel .slides li.title-content-compact.title-content-compact.flex-active-slide .right {
    padding: 16px;
  }
}
.smart-slide {
  margin-top: 32px;
}
@media screen and (max-width: 980px) {
  .smart-slide .slide-letters {
    padding: 0 68px;
  }
}
.smart-slide .slide-letters li {
  width: 112px;
  font-size: 100px;
}
@media screen and (max-width: 980px) {
  .smart-slide .slide-letters li {
    line-height: 80px;
    width: 48px;
    font-size: 48px;
  }
}
.smart-slide .carousel .slides .content {
  padding-bottom: 32px;
}
.smart-slide .smart-slider {
  padding: 0 68px;
}
.smart-slide .slide-title {
  max-width: 900px;
  margin: 0 auto 24px;
}
.smart-slide .title {
  font-size: 18px;
  margin-top: 12px;
}
.smart-slide .title span.icon {
  font-size: 12px;
  margin-right: 15px;
}
.smart-slide .title.position-1-2 {
  margin-left: -112px;
}
.smart-slide .title.position-2-2 {
  margin-left: 0px;
}
.smart-slide .title.position-1-3 {
  margin-left: -168px;
}
.smart-slide .title.position-2-3 {
  margin-left: -56px;
}
.smart-slide .title.position-3-3 {
  margin-left: 56px;
}
.smart-slide .title.position-1-4 {
  margin-left: -224px;
}
.smart-slide .title.position-2-4 {
  margin-left: -112px;
}
.smart-slide .title.position-3-4 {
  margin-left: 0px;
}
.smart-slide .title.position-4-4 {
  margin-left: 112px;
}
.smart-slide .title.position-1-5 {
  margin-left: -280px;
}
.smart-slide .title.position-2-5 {
  margin-left: -168px;
}
.smart-slide .title.position-3-5 {
  margin-left: -56px;
}
.smart-slide .title.position-4-5 {
  margin-left: 56px;
}
.smart-slide .title.position-5-5 {
  margin-left: 168px;
}
.smart-slide .title.position-1-6 {
  margin-left: -336px;
}
.smart-slide .title.position-2-6 {
  margin-left: -224px;
}
.smart-slide .title.position-3-6 {
  margin-left: -112px;
}
.smart-slide .title.position-4-6 {
  margin-left: 0px;
}
.smart-slide .title.position-5-6 {
  margin-left: 112px;
}
.smart-slide .title.position-6-6 {
  margin-left: 224px;
}
.smart-slide p {
  line-height: 28px;
}
@media screen and (max-width: 1024px) {
  .smart-slide .title.position-1-2 {
    margin-left: -48px;
  }
  .smart-slide .title.position-2-2 {
    margin-left: 0px;
  }
  .smart-slide .title.position-1-3 {
    margin-left: -72px;
  }
  .smart-slide .title.position-2-3 {
    margin-left: -24px;
  }
  .smart-slide .title.position-3-3 {
    margin-left: 24px;
  }
  .smart-slide .title.position-1-4 {
    margin-left: -96px;
  }
  .smart-slide .title.position-2-4 {
    margin-left: -48px;
  }
  .smart-slide .title.position-3-4 {
    margin-left: 0px;
  }
  .smart-slide .title.position-4-4 {
    margin-left: 48px;
  }
  .smart-slide .title.position-1-5 {
    margin-left: -120px;
  }
  .smart-slide .title.position-2-5 {
    margin-left: -72px;
  }
  .smart-slide .title.position-3-5 {
    margin-left: -24px;
  }
  .smart-slide .title.position-4-5 {
    margin-left: 24px;
  }
  .smart-slide .title.position-5-5 {
    margin-left: 72px;
  }
  .smart-slide .title.position-1-6 {
    margin-left: -144px;
  }
  .smart-slide .title.position-2-6 {
    margin-left: -96px;
  }
  .smart-slide .title.position-3-6 {
    margin-left: -48px;
  }
  .smart-slide .title.position-4-6 {
    margin-left: 0px;
  }
  .smart-slide .title.position-5-6 {
    margin-left: 48px;
  }
  .smart-slide .title.position-6-6 {
    margin-left: 96px;
  }
}
.links-content .links-block span.icon-external-link {
  font-size: 32px;
}
.links-content .links-block .left {
  padding: 68px 36px 68px 0;
}
.links-content .links-block .left h3 {
  font-size: 20px;
  line-height: 24px;
}
.links-content .links-block .left p {
  margin-bottom: 16px;
}
.links-content .links-block .left ul li {
  padding: 10px 0;
}
.links-content .links-block .left ul a span {
  top: 2px;
  font-size: 16px;
  line-height: 24px;
}
.links-content + .left-content {
  margin-top: 64px;
}
@media screen and (max-width: 780px) {
  .links-content .links-block .left {
    padding: 36px 0;
  }
}
.logo {
  width: 142px;
  height: 190px;
  padding: 13px 54px 0 0;
}
.logo img {
  width: 96px;
  max-width: 96px;
}
@media screen and (max-width: 1100px) {
  .logo {
    padding-right: 28px;
  }
}
@media screen and (max-width: 660px) {
  .logo {
    padding-bottom: 30px;
  }
  .logo a img {
    width: 60px;
  }
}
.main .container {
  max-width: 1200px;
}
.main nav {
  height: 133px;
  padding-left: 178px;
}
@media screen and (max-width: 1100px) {
  .main nav {
    padding-left: 200px;
  }
}
.main nav ul {
  max-width: 1296px;
}
.main nav .hamburger,
.main nav .close {
  font-size: 32px;
  top: 16px;
}
.main nav .level-1 {
  max-width: 1320px;
  margin-bottom: 29px;
  font-size: 12px;
}
.main nav .level-1 li {
  margin-right: 26px;
}
.main nav .level-1 li.right {
  margin-left: 26px;
}
.main nav .level-1 li a {
  height: 40px;
  line-height: 40px;
}
.main nav .level-1 li form input,
.main nav .level-1 li form button {
  height: 40px;
  line-height: 40px;
}
.main nav .level-1 li form button {
  width: 18px;
}
.main nav .level-1 li form input {
  margin-right: 10px;
}
.main nav .level-2 {
  height: 67px;
}
.main nav .level-2 li {
  margin-right: 28px;
  height: 62px;
}
.main nav .level-2 li a {
  line-height: 34px;
  font-size: 16px;
}
.main nav .level-2 li a.button {
  padding: 0 22px;
}
@media screen and (max-width: 685px) {
  .main nav .level-2 li {
    margin-right: 12px;
  }
  .main nav .level-2 li a {
    font-size: 14px;
  }
}
.main nav .level-2 li span {
  height: 18px;
}
.main nav .level-2 li span img {
  width: 16px;
}
@media screen and (max-width: 660px) {
  .main.opened nav .level-1 {
    padding-top: 162px;
  }
  .main.opened nav .level-1 li {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }
  .main.opened nav .level-1 li a {
    line-height: 50px;
  }
  .main.opened nav .level-2 {
    padding-bottom: 32px;
  }
  .main.opened nav .level-2 li a {
    font-size: 16px;
  }
}
.hero {
  height: 568px;
}
.hero.mini {
  height: 243px;
}
.hero.no-hero {
  height: 224px;
}
.hero .contents {
  padding: 140px 102px 0;
  max-width: 1400px;
}
.hero .contents h2 {
  font-size: 70px;
  line-height: 70px;
  padding-bottom: 30px;
}
.hero .contents p {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 62px;
}
.hero .contents a {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 30px;
}
@media screen and (max-width: 980px) {
  .hero .contents {
    padding: 140px 28px 0;
  }
  .hero .contents h2 {
    font-size: 38px;
    line-height: 38px;
    padding-bottom: 30px;
  }
  .hero .contents p {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 62px;
  }
}
@media screen and (max-width: 480px) {
  .hero.mini {
    height: 224px;
  }
}
.cta .left {
  padding: 68px 0;
}
.cta picture {
  height: 386px;
}
.cta .icon {
  font-size: 32px;
  margin-bottom: 26px;
}
.cta h3 {
  font-size: 20px;
  padding-bottom: 26px;
}
.cta p {
  margin: 0 0 32px;
}
.cta a {
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
}
.way-finder {
  padding-bottom: 84px;
  max-width: 1400px;
}
.way-finder .col {
  padding: 28px 32px 42px;
}
.way-finder nav.col {
  padding: 58px 102px 82px;
}
.way-finder nav.col h3 {
  font-size: 18px;
}
.way-finder nav.col ul li a {
  line-height: 32px;
  padding: 16px 16px 16px 0;
  font-size: 30px;
}
.way-finder nav.col ul li span {
  height: 64px;
  line-height: 64px;
}
.way-finder .career-handbook .icon {
  font-size: 38px;
  margin: 26px 0 74px 30px;
}
@media screen and (max-width: 1200px) {
  .way-finder .career-handbook .icon {
    font-size: 24px;
  }
}
.way-finder .career-handbook article {
  padding: 36px;
}
.way-finder .career-handbook article h3,
.way-finder .career-handbook article p {
  font-size: 16px;
  line-height: 18px;
  max-width: 312px;
}
.way-finder .career-handbook article h3 {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 40px;
}
.way-finder .getting-started {
  padding: 26px 28px 50px;
}
.way-finder .getting-started .icon {
  font-size: 38px;
  margin-bottom: 74px;
}
@media screen and (max-width: 1200px) {
  .way-finder .getting-started .icon {
    font-size: 24px;
  }
}
.way-finder .getting-started p,
.way-finder .getting-started h2 {
  max-width: 328px;
}
.way-finder .getting-started h2 {
  margin-bottom: 30px;
  line-height: 32px;
}
@media screen and (max-width: 980px) {
  .way-finder nav.col {
    padding: 26px 28px 50px;
  }
  .way-finder nav.col ul li a {
    font-size: 20px;
    line-height: 28px;
    padding: 12px 16px 12px 0;
  }
}
.hear-from-others {
  margin: 0 auto 26px;
}
.hear-from-others h2 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 54px;
}
.hear-from-others section .image .icon {
  font-size: 150px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: -75px 0 0 -75px;
}
@media screen and (max-width: 1200px) {
  .hear-from-others section .image .icon {
    font-size: 86px;
    width: 86px;
    height: 86px;
    border-radius: 86px;
    margin-top: -43px;
    margin-left: -43px;
  }
}
@media screen and (max-width: 900px) {
  .hear-from-others section .image .icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-top: -32px;
    margin-left: -32px;
  }
}
.hear-from-others section article {
  padding: 40px 34px 40px 28px;
}
.hear-from-others section article .text {
  font-size: 36px;
  line-height: 38px;
}
@media screen and (max-width: 980px) {
  .hear-from-others h2 {
    font-size: 30px;
  }
  .hear-from-others section article p.text {
    font-size: 30px;
  }
}
.checklist .container {
  padding-top: 36px;
  padding-bottom: 56px;
  margin-bottom: 42px;
}
.checklist .icon-info {
  font-size: 32px;
  margin-bottom: 32px;
}
.checklist .intro {
  font-size: 18px;
}
.checklist .intro h3 {
  margin: 0 0 16px;
  font-size: 20px;
}
.checklist .intro p {
  margin-bottom: 16px;
}
.checklist .items {
  padding-top: 8px;
  font-size: 18px;
}
.checklist .index .main {
  height: 46px;
  line-height: 46px;
  padding: 0 10px;
}
.checklist .index .main .icon {
  margin-top: 8px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 12px;
}
.checklist .desc p {
  margin-top: 10px;
  margin-bottom: 16px;
}
.checklist .desc ul {
  margin-top: 10px;
  margin-bottom: 16px;
}
.checklist .desc ul li {
  padding-left: 26px;
  padding-bottom: 24px;
}
.checklist .desc ul li span.icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 7px;
}
.checklist .desc ul li span.icon.icon-dot {
  font-size: 7px;
  line-height: 26px;
  height: 26px;
}
.checklist .desc ul li span.icon.icon-tick {
  border-radius: 20px;
}
@media screen and (max-width: 820px) {
  .checklist .intro {
    margin-bottom: 32px;
  }
  .checklist .items .index {
    margin-bottom: 32px;
  }
  .checklist .items .index ul .main.active .total {
    left: -10px;
    padding-left: 10px;
  }
  .checklist .items .active + .accord {
    padding: 16px 16px 0;
  }
  .checklist .items .active + .accord li {
    font-size: 16px;
  }
}
.priority-tasks {
  width: 662px;
  padding-left: 74px;
  margin: 20px auto;
}
.priority-tasks .row.left-titles {
  left: -261px;
  top: 366px;
}
.priority-tasks .row .col {
  padding: 23px 5%;
}
.priority-tasks .row .col.left {
  border-right: 2px solid #ffffff;
}
.priority-tasks .titles span {
  font-size: 16px;
}
.priority-tasks .titles.left-titles.row span.col {
  padding: 23px 0;
}
.priority-tasks .block .topLine,
.priority-tasks .block .botLine {
  padding: 0 45px;
}
.priority-tasks .block .topLine {
  font-size: 16px;
  line-height: 16px;
}
.priority-tasks .block .botLine {
  font-size: 16px;
  line-height: 16px;
}
.priority-tasks .block .overlay > * {
  padding: 16px 40px 0 42px;
}
.priority-tasks .block .overlay li {
  margin-bottom: 6px;
}
.priority-tasks .block .overlay span.close {
  right: 24px;
  top: 21px;
}
.priority-tasks .block .overlay span.close:after {
  font-size: 19px;
}
.priority-tasks .block-row .titles {
  left: -74px;
  line-height: 74px;
  width: 74px;
}
@media screen and (max-width: 680px) {
  .priority-tasks .block .botLine > span.text,
  .priority-tasks .block .topLine > span.text {
    padding: 48px 32px;
  }
}
.assignment-info .container {
  padding: 36px 12.8571428571% 56px;
}
.assignment-info .container .icon.icon-calculator {
  font-size: 42px;
}
.assignment-info .container h3 {
  font-size: 20px;
  line-height: 30px;
}
.assignment-info .container p,
.assignment-info .container label {
  font-size: 18px;
  line-height: 28px;
}
.assignment-info fieldset div.field {
  margin-bottom: 10px;
}
.assignment-info fieldset label {
  width: 285px;
  margin-right: 15px;
}
.assignment-info fieldset input.text {
  width: 248px;
  padding: 11px 38px 11px 11px;
}
.assignment-info .Actions {
  padding: 8px 0 0 300px;
}
.assignment-info .Actions input.action {
  min-width: 300px;
}
.assignment-info input.action,
.assignment-info .buttonLink {
  padding: 15px 22px 13px;
  font-size: 18px;
  line-height: 22px;
}
.assignment-info div.links {
  padding-top: 9px;
}
.assignment-info .buttonLink {
  padding: 8px 19px 10px;
  margin-left: 5px;
}
.assignment-info .assingment-summery ul {
  margin: 21px 0 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.assignment-info .assingment-summery ul li {
  padding: 2px 0 18px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.assignment-info .assingment-summery ul li .steps {
  width: 100px;
  margin: 0 7px 0 13px;
}
.assignment-info .assingment-summery ul li .info {
  padding-left: 120px;
}
.assignment-info .assingment-summery ul li p,
.assignment-info .assingment-summery ul li time {
  font-size: 16px;
}
.assignment-info .assingment-summery ul li p {
  margin-bottom: 7px;
}
.assignment-info .assingment-summery ul li time {
  margin-bottom: 22px;
}
.assignment-info .assingment-summery ul li .attachments a {
  margin-bottom: 5px;
  padding-left: 31px;
}
.assignment-info .assingment-summery ul li .attachments a:before {
  top: 1px;
  font-size: 16px;
}
@media screen and (max-width: 980px) {
  .assignment-info fieldset div.field {
    margin-bottom: 16px;
  }
}
.tabbed-content {
  margin-bottom: 56px;
}
.tabbed-content .title {
  margin: 30px 0 32px;
  font-size: 32px;
  line-height: 38px;
}
@media screen and (max-width: 980px) {
  .tabbed-content .title {
    padding: 0 28px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 980px) {
  .tab-index ul {
    padding: 0 28px;
  }
}
.tab-index ul li {
  padding: 0 8px;
  margin: 0 20px;
  font-size: 16px;
  line-height: 38px;
  border-bottom: 2px solid #ffffff;
}
.tab-index ul li.active {
  border-bottom: 2px solid #0c79c3;
}
.tab-section .content-block .itemList {
  border-top: 1px solid #d7d7d6;
}
.tab-section .content-block .itemList .glossary-letter {
  border-bottom: 1px solid #d7d7d6;
}
.tab-section .content-block .itemList .checkable h2 a {
  padding-left: 48px;
}
.tab-section .content-block .itemList h2 {
  border-left: 13px solid #ef563c;
  font-size: 27px;
  line-height: 32px;
}
@media screen and (max-width: 980px) {
  .tab-section .content-block .itemList h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
.tab-section .content-block .itemList h2 a {
  max-width: 1000px;
  padding: 24px 0 24px;
}
.tab-section .content-block .itemList h2 a .icon-tick {
  top: 22px;
  width: 31px;
  height: 31px;
  border: 1px solid #a7a7a6;
  font-size: 12px;
  line-height: 30px;
}
.tab-section .content-block .itemList .checked span.icon-tick {
  border: 1px solid #ffffff;
}
.tab-section .content-block .itemList .accordion-item {
  padding: 0 0 32px;
}
.tab-section .content-block .itemList .accordion-item p {
  line-height: 28px;
}
.tab-section .content-block .itemList .accordion-item p.small-text {
  font-size: 14px;
  line-height: 20px;
}
.tab-section .content-block .itemList .accordion-item h4 {
  font-size: 22px;
  line-height: 26px;
  margin: 10px 0 15px;
}
.tab-section .content-block .itemList .accordion-item span.icon-phone,
.tab-section .content-block .itemList .accordion-item span.icon-mail {
  margin: 0 5px 10px 0;
}
.tab-section .content-block .itemList .accordion-item span.icon-mail {
  font-size: 12px;
}
.tab-section .content-block .itemList li h2 {
  border-left: 13px solid #ef563c;
}
.tab-section .content-block.blue .itemList li h2 {
  border-left: 13px solid #00bad6;
}
.tab-section .content-block.yellow .itemList li h2 {
  border-left: 13px solid #ffcd00;
}
.tab-section .content-block.green .itemList li h2 {
  border-left: 13px solid #79c8bb;
}
@media screen and (max-width: 1200px) {
  .tabbed-content .tab-section .content-block .itemList li h2 a:after {
    right: 32px;
  }
}
@media screen and (max-width: 640px) {
  .tabbed-content .tab-section .content-block .itemList li h2 a {
    padding-right: 48px;
  }
}
.search-form fieldset input {
  padding: 14px 3.925% 14px 2.075%;
  border: 1px solid #d8d5d0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 18px;
}
.search-form fieldset .middleColumn {
  max-width: 636px;
}
.search-form fieldset .middleColumn::after {
  right: 8px;
  top: 16px;
}
.component-alignment.breadcrumbs.boxed-element {
  max-width: 1200px;
}
.page-intro {
  max-width: 1200px;
  margin: 0 auto 16px;
  padding: 16px 100px 22px;
}
@media screen and (min-width: 600px) {
  .page-intro {
    min-height: 200px;
  }
}
.page-intro article {
  font-size: 22px;
  line-height: 35px;
}
.page-intro article .title {
  margin-bottom: 20px;
}
@media screen and (max-width: 880px) {
  .page-intro article p {
    font-size: 18px;
  }
}
.page-intro.main {
  padding-right: 70px;
  padding-left: 70px;
}
@media screen and (max-width: 980px) {
  .page-intro.main {
    padding-left: 28px;
    padding-right: 28px;
  }
}
.template_LandingPage .page-contents,
.template_GlossaryPage .page-contents,
.template_LandingSearchPage .page-contents {
  margin-top: -32px;
}
.filter-form .filters {
  max-width: 1200px;
  padding: 0 98px;
}
.filter-form fieldset {
  padding: 0 0 22px 0;
}
@media screen and (max-width: 720px) {
  .filter-form .subject {
    margin-bottom: 16px;
  }
}
.filter-form .input input {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 40px 0 16px;
}
.filter-form .actions button {
  height: 40px;
  width: 50px;
  right: 98px;
}
@media screen and (max-width: 720px) {
  .filter-form .actions button {
    top: 58px;
  }
}
@media screen and (max-width: 768px) {
  .filter-form .actions button {
    right: 10px;
  }
}
.filter-form .chosen-container .chosen-results li {
  padding: 8px 6px 8px 16px;
}
.filter-form .chosen-container-single .chosen-single {
  font-size: 16px;
}
.sort-by {
  padding: 16px 0;
}
.sort-by .options {
  font-size: 16px;
}
.sort-by .options label {
  height: 40px;
  line-height: 40px;
  margin-right: 16px;
}
.sort-by .options .option-holder {
  width: 200px;
}
.sort-by .options .option-holder .chosen-container-single .chosen-single {
  font-size: 16px;
}
.social-blocks {
  top: 48px;
  right: 48px;
}
.social-blocks ul li a {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 19px;
}
.social-blocks ul li a.facebook {
  font-size: 22px;
}
.social-blocks ul li a .icon {
  line-height: 48px;
}
.masonry-content {
  padding: 0 0 32px;
}
.masonry-content .tile-c {
  padding: 30px 32px 30px 32px;
}
.masonry-content .tile-c.has-padder .padder {
  padding: 30px 32px 30px 32px;
}
.masonry-content .tile-c h3 {
  font-size: 30px;
  height: 340px;
}
.masonry-content .tile-c h3 span {
  height: 32px;
  line-height: 36px;
  font-size: 16px;
}
.masonry-content .tile-c p {
  margin: 24px 0 0;
  font-size: 16px;
  line-height: 24px;
}
.masonry-content .tile-c .separator-link {
  padding-top: 12px;
  font-size: 14px;
}
.masonry-content .tile-c.half {
  padding: 36px 32px;
}
.masonry-content .tile-c.half h3 {
  font-size: 30px;
  line-height: 30px;
  height: 131px;
}
.masonry-content .list-menu {
  padding: 42px 32px 44px;
}
.masonry-content .list-menu .padder {
  height: 540px;
}
.masonry-content .list-menu.has-padder .padder {
  padding: 42px 32px 44px;
}
.masonry-content .list-menu h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 16px 0 8px;
}
.masonry-content .list-menu li a {
  line-height: 28px;
  padding: 16px 25px 16px 0px;
  font-size: 19px;
}
@media screen and (max-width: 980px) {
  .masonry-content .list-menu li a {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0;
  }
}
.masonry-content .contact-tile,
.masonry-content .contact-tile:nth-child(6n+1),
.masonry-content .contact-tile:nth-child(6n+2),
.masonry-content .contact-tile:nth-child(6n+3),
.masonry-content .contact-tile:nth-child(6n+4),
.masonry-content .contact-tile:nth-child(6n+5) {
  font-size: 18px;
  line-height: 24px;
  padding: 32px 46px 44px 32px;
  height: 540px;
}
.masonry-content .contact-tile.basic,
.masonry-content .contact-tile:nth-child(6n+1).basic,
.masonry-content .contact-tile:nth-child(6n+2).basic,
.masonry-content .contact-tile:nth-child(6n+3).basic,
.masonry-content .contact-tile:nth-child(6n+4).basic,
.masonry-content .contact-tile:nth-child(6n+5).basic {
  height: 400px;
}
@media screen and (max-width: 980px) {
  .masonry-content .contact-tile,
  .masonry-content .contact-tile:nth-child(6n+1),
  .masonry-content .contact-tile:nth-child(6n+2),
  .masonry-content .contact-tile:nth-child(6n+3),
  .masonry-content .contact-tile:nth-child(6n+4),
  .masonry-content .contact-tile:nth-child(6n+5) {
    padding: 30px 32px 30px 32px;
  }
}
.masonry-content .contact-tile h3,
.masonry-content .contact-tile:nth-child(6n+1) h3,
.masonry-content .contact-tile:nth-child(6n+2) h3,
.masonry-content .contact-tile:nth-child(6n+3) h3,
.masonry-content .contact-tile:nth-child(6n+4) h3,
.masonry-content .contact-tile:nth-child(6n+5) h3 {
  font-size: 40px;
  line-height: 35px;
}
@media screen and (max-width: 980px) {
  .masonry-content .contact-tile h3,
  .masonry-content .contact-tile:nth-child(6n+1) h3,
  .masonry-content .contact-tile:nth-child(6n+2) h3,
  .masonry-content .contact-tile:nth-child(6n+3) h3,
  .masonry-content .contact-tile:nth-child(6n+4) h3,
  .masonry-content .contact-tile:nth-child(6n+5) h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
.masonry-content .contact-tile p.contact,
.masonry-content .contact-tile:nth-child(6n+1) p.contact,
.masonry-content .contact-tile:nth-child(6n+2) p.contact,
.masonry-content .contact-tile:nth-child(6n+3) p.contact,
.masonry-content .contact-tile:nth-child(6n+4) p.contact,
.masonry-content .contact-tile:nth-child(6n+5) p.contact {
  margin-top: 38px;
}
@media screen and (max-width: 980px) {
  .masonry-content .contact-tile p.contact,
  .masonry-content .contact-tile:nth-child(6n+1) p.contact,
  .masonry-content .contact-tile:nth-child(6n+2) p.contact,
  .masonry-content .contact-tile:nth-child(6n+3) p.contact,
  .masonry-content .contact-tile:nth-child(6n+4) p.contact,
  .masonry-content .contact-tile:nth-child(6n+5) p.contact {
    margin-top: 32px;
  }
}
.masonry-content .contact-tile p.lines,
.masonry-content .contact-tile:nth-child(6n+1) p.lines,
.masonry-content .contact-tile:nth-child(6n+2) p.lines,
.masonry-content .contact-tile:nth-child(6n+3) p.lines,
.masonry-content .contact-tile:nth-child(6n+4) p.lines,
.masonry-content .contact-tile:nth-child(6n+5) p.lines {
  margin-top: 22px;
}
.masonry-content .contact-tile p.lines a,
.masonry-content .contact-tile:nth-child(6n+1) p.lines a,
.masonry-content .contact-tile:nth-child(6n+2) p.lines a,
.masonry-content .contact-tile:nth-child(6n+3) p.lines a,
.masonry-content .contact-tile:nth-child(6n+4) p.lines a,
.masonry-content .contact-tile:nth-child(6n+5) p.lines a {
  margin-bottom: 11px;
}
.masonry-content .contact-tile p.lines a span,
.masonry-content .contact-tile:nth-child(6n+1) p.lines a span,
.masonry-content .contact-tile:nth-child(6n+2) p.lines a span,
.masonry-content .contact-tile:nth-child(6n+3) p.lines a span,
.masonry-content .contact-tile:nth-child(6n+4) p.lines a span,
.masonry-content .contact-tile:nth-child(6n+5) p.lines a span {
  margin-right: 16px;
}
.masonry-content .overflow-content article {
  margin-top: 240px;
  height: 160px;
  padding: 30px 35px 30px 32px;
}
.masonry-content .overflow-content article h3 {
  font-size: 20px;
  line-height: 32px;
}
.masonry-content .overflow-content article h3 a {
  font-size: 20px;
  line-height: 32px;
}
.masonry-content .no-secondary h3 {
  margin-bottom: 69px;
}
@media screen and (max-width: 980px) {
  .masonry-content .tile-c {
    padding-left: 16px;
    padding-right: 16px;
  }
  .masonry-content .tile-c.half h3 {
    font-size: 19px;
  }
  .masonry-content .tile-c.list-menu,
  .masonry-content .tile-c.half,
  .masonry-content .tile-c.contact-tile {
    padding-left: 16px;
    padding-right: 16px;
  }
  .masonry-content .tile-c.list-menu.has-padder .padder,
  .masonry-content .tile-c.half.has-padder .padder,
  .masonry-content .tile-c.contact-tile.has-padder .padder {
    padding-left: 16px;
    padding-right: 16px;
  }
  .masonry-content .tile-c.overflow-content article {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.chosen-container-single .chosen-single {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding-left: 16px;
}
.chosen-container-single .chosen-single div {
  width: 32px;
}
.component-alignment {
  max-width: 1400px;
}
.component-alignment.boxed-element {
  max-width: 1000px;
  padding: 34px 0 22px;
}
.component-alignment.wide-boxed-element {
  max-width: 1200px;
  padding: 34px 0 22px;
}
.container {
  max-width: 1000px;
}
.button-link {
  line-height: 24px;
  padding: 13px 24px;
  margin-top: 32px;
}
hr {
  margin: 16px 0 48px;
}
.page-contents {
  margin: -172px auto 0;
}
.page-contents .breadcrumbs {
  padding-bottom: 22px;
}
.page-contents .breadcrumbs a {
  font-size: 13px;
}
.page-contents .breadcrumbs a span {
  font-size: 9px;
  padding: 0 8px;
}
.page-contents .breadcrumbs ul li {
  font-size: 12px;
  line-height: 12px;
}
.page-contents .content {
  padding: 78px 45px;
}
@media screen and (max-width: 1400px) {
  .page-contents .content {
    padding-left: 28px;
    padding-right: 28px;
  }
}
.page-contents .content .article {
  font-size: 18px;
}
.left-content,
.right-content {
  max-width: 1000px;
}
.right-content {
  max-width: 1000px;
  margin: 32px auto 3px;
}
.left-content {
  font-size: 18px;
}
.left-content h1 {
  margin-bottom: 22px;
}
.left-content h2 {
  font-size: 28px;
  line-height: 30px;
}
.left-content h3 {
  font-size: 22px;
}
.left-content p + h3 {
  margin-top: 32px;
}
.left-content h4 {
  font-size: 20px;
}
.left-content h5,
.left-content h6 {
  margin-bottom: 16px;
  font-size: 18px;
}
.left-content p {
  margin-bottom: 22px;
}
.left-content .large {
  font-size: 20px;
}
.left-content figure {
  margin: 0 0 46px 0;
}
.left-content figure picture {
  margin: 0 0 22px 0;
}
.left-content figure figcaption {
  max-width: 300px;
  padding-top: 24px;
  font-size: 14px;
}
.left-content ul,
.left-content ol {
  margin-bottom: 32px;
  padding-left: 8px;
}
.left-content ul ul,
.left-content ol ul,
.left-content ul ol,
.left-content ol ol {
  padding-top: 16px;
}
.left-content ul li:before {
  font-size: 19px;
  left: -10px;
}
.left-content li {
  padding-left: 5px;
  margin-bottom: 10px;
}
.left-content li h4 {
  margin: 0 0 8px 0;
}
.feature-link,
.feature-download,
.feature-mail,
.feature-external-link {
  padding-left: 56px;
}
.feature-link:before,
.feature-download:before,
.feature-mail:before,
.feature-external-link:before {
  top: 2px;
  font-size: 32px;
}
.internal_link.component-alignment.boxed-element,
.external_link.component-alignment.boxed-element {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width: 640px) {
  .social.right-content,
  .testimony-content.right-content,
  figure.right-content {
    margin: 16px auto;
  }
}
@media screen and (max-width: 640px) {
  .left-content ul,
  .left-content ol {
    padding-left: 16px;
  }
}
.testimony-content.right-content {
  padding-top: 16px;
  padding-bottom: 16px;
}
.testimony-content.right-content span.icon {
  font-size: 60px;
}
.testimony-content.right-content .text {
  font-size: 36px;
  line-height: 40px;
  margin: 16px 0;
  padding-top: 56px;
}
figure.element picture {
  margin-bottom: 16px;
}
figure.element figcaption {
  padding-top: 16px;
}
.related-topics .title {
  font-size: 50px;
  line-height: 54px;
}
.content-padder {
  padding: 32px 35% 32px 0;
}
.sidebar-help {
  font-size: 18px;
  line-height: 24px;
  padding: 30px 46px 44px 46px;
}
.sidebar-help h3 {
  font-size: 30px;
  line-height: 32px;
}
@media screen and (max-width: 980px) {
  .sidebar-help h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
.sidebar-help p.contact {
  margin-top: 38px;
}
@media screen and (max-width: 980px) {
  .sidebar-help p.contact {
    margin-top: 32px;
  }
}
.sidebar-help p.lines {
  margin-top: 22px;
}
.sidebar-help p.lines a {
  margin-bottom: 22px;
}
.was-this-helpful {
  margin: 0 auto 32px;
}
.was-this-helpful .widget {
  line-height: 50px;
}
.was-this-helpful .widget a {
  width: 50px;
  height: 50px;
}
.was-this-helpful .widget a.yes {
  margin-left: 22px;
}
.activity_individual {
  height: 480px;
}
.activity_results {
  padding: 32px 0;
}
.activity_results span {
  font-size: 128px;
  padding-right: 56px;
}
.activity_results span:after {
  font-size: 32px;
  padding: 8px;
  width: 48px;
  line-height: 48px;
  height: 48px;
  border-radius: 48px;
}
.activity_results span.right {
  margin-right: 48px;
}
.activity_results span.wrong:after {
  font-size: 48px;
  line-height: 29px;
}
footer.main {
  padding: 56px 0 36px;
}
footer.main h2 {
  font-size: 40px;
  line-height: 40px;
}
footer.main ul {
  margin-bottom: 22px;
}
footer.main ul li {
  line-height: 18px;
}
footer.main ul li h3 {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 8px;
}
footer.main ul li a {
  font-size: 14px;
}
footer.main .bottom {
  margin-top: 32px;
}
footer.main .container {
  max-width: 1000px;
}
footer.main .container .col {
  padding-right: 20px;
}
footer.main .container.addresses {
  padding-top: 26px;
}
footer.main .container.addresses address {
  font-size: 14px;
  line-height: 18px;
}
@media screen and (max-width: 906px) {
  footer.main .container.addresses .col {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 540px) {
  footer.main .container .col {
    margin-bottom: 16px;
  }
}
.drop-menu {
  padding: 80px 0 80px;
}
@media screen and (max-width: 640px) {
  .drop-menu {
    padding: 24px 0 30px;
  }
}
.drop-menu .container {
  max-width: 1200px;
}
@media screen and (max-width: 980px) {
  .drop-menu .container {
    padding: 0 28px;
  }
}
.drop-menu .container .left h3 {
  font-size: 40px;
  line-height: 44px;
  margin: 16px 0 32px 0;
}
.drop-menu .container .left .col {
  padding-right: 44px;
}
.drop-menu .container .left .col h4 {
  font-size: 20px;
  margin: 0 0 4px 0;
}
.drop-menu .container .left .col p {
  margin: 0 0 19px 0;
}
@media screen and (max-width: 720px) {
  .drop-menu .container .left .col {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 720px) {
  .drop-menu .container .left h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 16px 0;
  }
}
