.highlightBlue {
	background: #27aae1;
	padding: 1px;
}

.highlightYellow {
	background: #ffe9c0;
	padding: 1px;
}

.highlightRed {
	background: #fbae42;
	padding: 1px;
}

.highlightGreen {
	background: #3bad5f;
	padding: 1px;
}

#Form_AddForm_PageType .valEventHolder,
#Form_AddForm_PageType .valFooterHolder,
#Form_AddForm_PageType .valNewsHolder,
#Form_AddForm_PageType .valNewsPage,
#Form_AddForm_PageType .valRegistryPage,
#Form_AddForm_PageType .valSitemapPage,
#Form_AddForm_PageType .valEventPage {
	display: none;
}
