.accordion-c {
	background: @light-brown;
	background: @light-brown-rgba;
    clear: both;
	
	.title-c { 
		background: url('../images/accordion-left.svg') top left no-repeat;
		border-top: 2px solid transparent;
		margin-bottom: 0;
        margin-top: 0;
		
		
		a {
			.boxsizing;
			display: block;
			padding: 1.5rem 2.813rem;
			color: #8C8E90;
			position: relative;
			max-width: 75rem;
			margin: 0 auto;
			
			&:after {
				.icon-font;
				content: "\e60c";
				font-size: 0.750rem;
				position: absolute;
				right: 0;
				line-height: 36px;
				color: #8C8E90;
				
				@media screen and (max-width: 980px) {
					right: 1rem;
				}
			}

			&:hover,
			&:focus {
				background-color: #fff;
				color: darken(#8C8E90, 10%);
			}
		}
		
		&.active {
			border-top: 2px solid @light-brown;
			background: url('../images/accordion-left.svg') top left no-repeat @white;
			
			a {
				color: @dark-grey;
				&:after {
					content: "\e60d";
				};
			}
		}
	}
	
	.accordion-item {
		.boxsizing;
		display: none;
		border-bottom: 2px solid @light-brown;
		padding: 1rem 0 2rem;
		
		.accordion-item-content {
			max-width: 75rem;
			padding-right: 2.813rem;
			padding-left: 2.813rem;
			margin: 0 auto;
			.boxsizing;
		}
		&.active {
			background: @white;
			border-bottom: 2px solid @light-brown;	
		}
		
		h3, h4, h5, h6 {
			color: @blue;
		}
		
	}
	
}

.page-contents .content .article {
	
	.accordion-c { 
		.title-c {
			margin-bottom: 0;
		}
	}
}

.glossary-letter {
	&:hover,
	&:focus {

	}
}