.accordion-c {
    clear: both;
	
	.title-c { 
		border-top: 1px solid transparent;
		margin-bottom: 0;
        margin-top: 0;
		border-bottom: 1px solid #ddd;
		position: relative;
		background: @light-brown;
		background: @light-brown-rgba;

		&:before {
			content: " ";
			width: 15px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			background-color: transparent;
		}

		.transition();

		&:first-child {
			border-top: 1px solid #ddd;
		}

		&.title-color-Yellow {
			&:before {
				background-color: @yellow;
			}
		}

		&.title-color-Blue {
			&:before {
				background-color: @blue;
			}
		}

		&.title-color-Black {
			&:before {
				background-color: @dark-grey;
			}
		}

		&.title-color-Red {
			&:before {
				background-color: @red;
			}
		}
		
		a {
			display: block;
			padding: 1.5rem 0;
			color: lighten(#8C8E90, 5%);
			position: relative;
			width: 90%;
			max-width: 62.5rem;
			cursor: pointer;
			font-weight: 600;
			margin: 0 auto;
			
			&:after {
				.icon-font;
				content: "\e606";
				font-size: 0.750rem;
				position: absolute;
				right: 0;
				line-height: 36px;
				color: #8C8E90;
				opacity: 0.4;
				
				@media screen and (max-width: 980px) {
					right: 1rem;
				}
			}
		}


		&:hover,
		&:focus {
			background-color: rgba(255, 255, 255, 0.3);
			opacity: 0.8;
			color: darken(#8C8E90, 10%);
		}
		
		&.active {
			background-color: rgba(255, 255, 255, 0.3);
			color: darken(#8C8E90, 10%);
			border-bottom: none;

			a {
				color: @dark-grey;
				
				&:after {
					content: "\e602";
				}
			}
		}

		@media screen and (max-width: 880px) {
			font-size: 1.4rem;
			line-height: 1.8rem;
		}

		@media screen and (max-width: 620px) {
			font-size: 1.2rem;
			line-height: 1.6rem;
			
			&:before {
				width: 5px;
			}

			a {
				width: 100%;
				padding-left: 30px;
			}
		}
	}
	
	.accordion-item {
		border-bottom: 1px solid @light-brown;
		padding: 0;
		
		.accordion-item-content {
			max-width: 62.5rem;
			width: 90%;
			margin: 0 auto;
		}

		&.active {
			background: @white;
			border-bottom: none;	


			> .left-content-wrapper:first-child .content-padder,
			> .element-content-generic:first-child .content-padder {
				padding-top: 0;
			}

			+ .title-c {
				border-top: 1px solid @light-brown-rgba;

				&:hover,
				&:focus {
					border-top: 1px solid rgba(200,197,192,0.5);
				}
			}
		}
	}
}

.accordion-item-children {
	margin: 0;
	padding: 0;
}

.page-contents .content .article {
	.accordion-c { 
		.title-c {
			margin-bottom: 0;
		}
	}
}

.glossary-letter {
	&:hover,
	&:focus {

	}
}