@import "elements.less";

.activity {
	margin-bottom: 30px;
	border: 1px solid #eee;
}

.no-js .activity {
	display: none;
}

.activity_text {
	overflow: hidden;
	margin-bottom: 20px;

	li {
		list-style: none;
		padding: 1em;
		background: #eee;
		display: block;
		font-size: 14px;
		margin-right: 5px;
		margin-bottom: 5px;
		cursor: pointer;
		.transition-property(background, 0.2s);
		&:hover,
		&:focus {

		}
	}
}

.activity_text__Paragraph {
	li {
		float: left;
	}
}

.activity_text__DragAndDrop {
	li {
		cursor: move;
	}
}

.activity_header {
	background: #eee;
	overflow: hidden;
	position: relative;

	.progress {
		float: right;
		padding: 1em 0;
	}

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		float: left;

		a {
			text-indent: -9000px;
			height: 8px;
			width: 8px;
			border-radius: 5px;
			margin-right: 10px;
			position: relative;
			top: 8px;
			display: block;
			float: left;
			background: #999;

			&.current {
				height: auto;
				width: auto;
				text-indent: 0;
				border: 1px solid #aaa;
				top: 0;
				font-size: 12px;
				background: transparent;
				border-radius: 13px;
				height: 25px;
				color: #999;
				text-align: center;
				line-height: 25px;
				width: 25px;
			}
		}
	}

	h3 {
		float: left;
		padding: 1em 2em;
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		font-size: 16px;
	}

}

.activity_scheme__black {
	h3 {
		background: #333;
		color: #fff;
	}
}

.activity_scheme__blue {
	h4 {
		background: #0C79C3;
		color: #fff;
	}
}

.activity_navigation {
	background: #eee;
	padding: 1em;
	overflow: hidden;

	.btn {
		float: right;
		padding: 0.6em 1.5em;
		background: #0C79C3;
		color: #fff;
		text-decoration: none;
		border: none;
		cursor: pointer;
		.transition(0.2s);

		&:hover,
		&:focus {
			background: darken(#0C79C3, 10%);
		}
	}

	.hidden {
		display: none;
	}
}

.activity_individual {
	display: none;
	min-height: 200px;
	padding: 2em;

	&.current {
		display: block;
	}
}