@import "elements.less";

@activitygreen: #08c04e;

.activity {
	margin-bottom: 30px;
	border: 1px solid #eee;
}

@media screen and (min-width: 500px) {
	.activity {
		min-width: 480px;
	}
}

@media screen and (min-width: 720px) {
	.activity {
		min-width: 660px;
	}
}

.no-js .activity {
	display: none;
}


.activity_text {
	overflow: hidden;
	padding-top: 2rem;
	margin-bottom: 20px;

	&.activity_text__Paragraph {
		ul {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media screen and (max-width: 620px) {
		ul {
			padding-left: 0;
		}
	}

	ul {
		max-width: 80%;

		@media screen and (max-width: 620px) {
			ul {
				max-width: 100%;
			}
		}
	}

	li {
		list-style: none;
		padding: 1em;
		background: #eee;
		display: block;
		font-size: 20px;
		margin-right: 5px;
		margin-bottom: 5px;
		cursor: pointer;
		max-width: 500px;
		.transition-property(background, 0.2s);

		@media screen and (max-width: 620px) {
			font-size: 16px;
		}

		&:hover,
		&:focus,
		&:active {
			background: @tpstone;
			color: #000;
		}

		&.selected,
		&.changed {
			background: @tpstone;

			&:hover,
			&:active,
			&:focus {
				background: lighten(@tpstone, 10%);
			}
		}

		&.changed,
		&.selected {
			&.wrong {
				background-color: #EF563C;
				color: #fff;
			}
		}

		&.correct {
			background-color: @activitygreen;
			color: #fff;

			&.changed {
				background-color: @activitygreen;
				color: #fff;
			}
		}
	}

	&.activity_text__DragAndDropToMatch {
		.wrong {
			background-color: #EF563C;
			color: #fff;
		}
	}

	&.activity_text__Replace {
		li.correct,
		li.changed.wrong {
			color: @tpblack;
		}

		li {
			padding-left: 0em;
			padding-right: 0em;
			background: transparent;



			&.correct,
			&.correct:hover,
			&.correct:focus,
			&.wrong,
			&.wrong:hover,
			&.wrong:focus {
				&:after {
					display: none;
				}
			}

			&:hover,
			&:focus {
				color: rgb(64, 64, 65);
				cursor: default;
			}

			&.replaceable {
				padding-left: 0.5em;
				padding-right: 0.5em;
				background: #eee;

				&:focus,
				&:active,
				&:hover {
					background: @tpstone;
					color: #000;
					cursor: pointer;
				}

				&.correct,
				&.correct:hover,
				&.correct:focus {
					background-color: #08C04E;
					color: #fff;

					&:after {
						display: none;
					}
				}

				&.wrong,
				&.wrong:hover,
				&.wrong:focus {
					background-color: #EF563C;
					color: #fff;

					&:after {
						display: none;
					}
				}
			}
		}
	}
}

.activity_text__Paragraph,
.activity_text__Replace {
	li {
		float: left;
	}
}

.activity_text__DragAndDrop {
	li {
		cursor: move;
	}
}

.activity_text__DragAndDropToMatch {
	ul {
		float: left;

		&.labels {
			width: 200px;
			overflow: hidden;
			padding-left: 0;

			li {
				background: none;
				padding-left: 0;

				&:hover,
				&:focus {
					cursor: default;
				}
			}

			@media screen and (max-width: 620px) {
				width: 100%;
				float: none;
				padding-left: 0;

				li {
					padding-bottom: 0;
				}
			}
		}
	}
}

.activity_header {
	background: #eee;
	overflow: hidden;
	height: 60px;
	position: relative;

	.progress {
		float: right;
		padding: 1em 0;
		overflow: hidden;
	}


	h3 {
		float: left;
		padding: 1em 2em 1em 88px;
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		font-size: 16px;
	}

	@media screen and (max-width: 620px) {
		height: auto;

		h3,
		.progress {
			width: 100%;
			overflow: hidden;
			float: none;
			clear: both;
			padding-left: 20px;
		}

		.progress {
			margin-top: 3.8rem;
		}
	}

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		float: left;

		a {
			text-indent: -9000px;
			height: 4px;
			width: 4px;
			border-radius: 5px;
			margin-right: 10px;
			position: relative;
			top: 12px;
			display: block;
			cursor: default;
			float: left;
			background: #333;

			&.current {
				height: auto;
				width: auto;
				text-indent: 0;
				border: 1px solid #333;
				top: 0;
				font-size: 12px;
				background: transparent;
				border-radius: 13px;
				height: 25px;
				color: #333;
				text-align: center;
				line-height: 25px;
				width: 25px;
			}
		}
	}



	.preicon {
		position: absolute;
		top: 1em;
		z-index: 3;
		margin-left: 50px;
		padding-right: 9px;
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		height: 20px;
		color: #fff;
		font-size: 18px;
		font-weight: bold;

		@media screen and (max-width: 620px) {
			display: none;
		}

		svg {
			height: 18px;
			width: 18px;

			path, rect, polyline, line, circle {
				stroke: #fff;
			}
		}

		&.question {
			width: 18px;
			padding-right: 15px;
			text-align: center;
			line-height: 1;
		}
	}
}

.activity_description {
	max-width: 650px;

	p {
		font-size: 20px;

		@media screen and (max-width: 620px) {
			font-size: 16px;
		}
	}

	img {
		max-width: 100%;
	}
}

.activity_scheme__black {
	h3 {
		background: #333;
		color: #fff;
	}

	+ .activity_individual {
		h3 {
			color: #333;
		}
	}
}

.activity_scheme__blue {
	h3 {
		background: #216E31;
		color: #fff;
	}
}

.activity_navigation {
	background: #eee;
	padding: 1em;
	overflow: hidden;

	.btn {
		float: right;
		padding: 0.6em 1.5em;
		background: #216E31;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		border: none;
		margin-left: 5px;
		.transition(0.2s);

		&:hover,
		&:focus {
			background: darken(#216E31, 10%);
		}

		&.loading {
			background: darken(#216E31, 10%);
			opacity: 0.2;
		}

		.arr {
			font-size: 1.5rem;
			font-weight: bold;
			position: relative;
			top: 0px;
			right: -5px;
		}

		&.next {
			position: relative;
			padding-right: 35px;
			min-height: 50px;

			&:after {
				content: " ";
				display: block;
				width: 9px;
				height: 14px;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -7px;
				background: url(../images/activity_next.svg) no-repeat;
			}
		}

		&.back {
			padding-left: 25px;
			min-height: 50px;
			position: relative;

			&:after {
				content: " ";
				display: block;
				height: 14px;
				margin-top: -7px;
				width: 9px;
				top: 50%;
				position: absolute;
				left: 20px;
				background: url(../images/activity_prev.svg) no-repeat;
			}
		}
	}

	.hidden {
		display: none;
	}
}

.activity_individual {
	display: none;
	padding: 2em;
	position: relative;

	&.current {
		display: block;
	}

	@media screen and (min-width: 620px) {
		padding-left: 70px;
	}

	@media screen and (max-width: 620px) {
		padding: 10px;

		h3 {
			font-size: 1.3rem;
			line-height: 1.5rem;
		}
	}
}

.activity_results {
	width: 100%;
	text-align: center;
	padding: 2rem 0;

	span {
		font-size: 8rem;
		color: @tpmediumgreen;
		font-weight: bold;
		position: relative;
		padding-right: 6.5rem;

		&:after {
			display: block;
			width: 4rem;
			height: 4rem;
			position: absolute;
			top: 0;
			right: 2.5rem;
			content: " ";
		}

		&.right {
			&:after {
				background: url(../images/correct.svg);
			}
		}

		&.wrong {
			padding-left: 2rem;
			&:after {
				background: url(../images/activity_wrong_results.svg);
			}
		}
	}
}

.activity_success,
.activity_fail,
.activity_fail_warning,
.activity_answers {
	display: none;
}

.activity_fail_warning {
	background: #EF563C;
	color: #fff;
}

.activity_success,
.activity_fail {
	background: @activitygreen;
	color: #fff;
}

.activity_fail,
.activity_success,
.activity_warning,
.activity_fail_warning {
	margin: 10px -2em 10px -70px;
	padding: 5px 2em 5px 70px;

	@media screen and (max-width: 620px) {
		margin-left: -2em;
		padding-left: 2em;
	}
}

.activity_content__answer {
	display: none;
}

.activity_text {
	.correctAnswer,
	.correct,
	.wrong {
		position: relative;

		&:after {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -15px;
			width: 30px;
			height: 30px;
			right: -40px;
			content: " ";
			background: url(../images/correct.svg) no-repeat;
			background-size: 30px 30px;
		}
	}

	.wrong {
		&:after {
			display: none;
			background: url(../images/wrong.svg) no-repeat;
		}
	}


	.correctAnswer {
		&:after {
			display: none;
			background: url(../images/correct.svg) no-repeat;
		}
	}


	.changed.wrong {
		&:after {
			display: block;
			background: url(../images/wrong.svg) no-repeat;
		}
	}

	&.activity_text__DragAndDropToMatch,
	&.activity_text__DragAndDrop {
		.wrong:after {
			display: block !important;
		}
	}

	&.activity_text__Paragraph,
	&.activity_text__Replace {
		.correct,
		.wrong {
			&:after {
				left: 50%;
				top: -1.5rem;
				display: block;
				margin-left: -0.75rem;
			}
		}
	}
}

.activity_individual.readonly {
	.activity_text li {
		&:hover,
		&:focus {
			cursor: default;
			background: #eee;
			color: rgb(64, 64, 65);
		}

		&.wrong:hover,
		&.wrong:focus,
		&.changed.wrong:hover,
		&.changed.wrong:focus {
			background-color: #EF563C;
			color: #fff;
		}

		&.correct:hover,
		&.correct:focus,
		&.changed.correct:hover,
		&.changed.correct:focus {
			background-color: @activitygreen;
			color: #fff;
		}
	}

	.activity_text__Replace li {
		&:hover,
		&:focus {
			cursor: default;
			background: transparent;
			color: rgb(64, 64, 65);
		}
	}

	.activity_text__SingleChoice,
	.activity_text__MultiChoice,
	.activity_text__Paragraph {
		.correctAnswer {
			background-color: @activitygreen;
			color: #fff;

			&:after {
				display: block;
			}

			&:hover,
			&:focus {
				background-color: @activitygreen;
				color: #fff;
			}
		}

		li.correctAnswer:hover,
		li.correctAnswer:focus {
			background-color: @activitygreen;
			color: #fff;
		}
	}
}

.activity_text__MultiChoice,
.activity_text__Paragraph {
	.correctAnswer,
	.changed,
	.correct,
	.wrong {
		&:after {
			background: none;
		}
	}
}

.readonly {
	.activity_text__DragAndDrop,
	.activity_text__DragAndDropToMatch {
		li {
			&.wrong,
			&.wrong:hover,
			&.wrong:focus {
				background-color: #EF563C;
				color: #fff;
			}
		}
	}
}
