
.glossary {
	.page-intro.main.glossary h1 {
		color: @dark-blue;
	}
	
	.tabbed-content .tab-index ul li.active {
		color: @dark-blue;
		border-color: @dark-blue;
	}
	.tabbed-content .tab-section .content-block .itemList li h2 {
		border-color: @dark-blue;
	}

    .glossary-item {
        clear: both;
    }

    .left-content h4 {
    	color: @blue;
    }
}