.logo {
	width: 8.875rem;
	height: 11.875rem;
	padding: 0.8rem 3.375rem 0 0;
	background: @tpdark-green;
	display: block;
	position: absolute;
	text-align: right;
	margin: 0;
	z-index: 100;

	&:before {
		position: absolute;
		right: 100%;
		content: " ";
		display: block;
		top: 0;
		width: 500%;
		background: @tpdark-green;
		height: 100%;
		z-index: -5000;
	}

	a {
		display: block;
	}

	img {
		width: 17rem;
		max-width: 17rem;
		margin-left: -150px;
		margin-top: 12px;
	}

	@media screen and (max-width: 1520px) {
		width: auto;
		padding-right: 1.75rem;

		a {
			width: 100%;
			height: auto;
			line-height: 0;

			img {
				width: 17rem;
				max-width: 17rem;
				margin-left: -132px;

			}
		}
	}
	@media screen and (max-width: 1483px) {
		height: auto;
		padding-bottom: 0.9rem;

		a {
			height: 3rem;


			img {
				width: 11rem;
				margin-left: -20px;
				margin-top: 6px;
			}
		}
	}
	@media screen and (max-width: 660px) {
		height: auto;
		padding-bottom: 0.9rem;

		a {
			height: 3rem;


			img {
				width: 9rem;
				margin-left: -4px;
				margin-top: -12px;
			}
		}
	}
}

.main {
	position: relative;
	z-index: 200;
	background: @tpdark-green;

	.container {
		max-width: 75rem;
		margin: 0 auto;
		width: 90%;
	}

	nav {
		background: @tpdark-green;
		height: 8.3rem;
		padding-left: 11.125rem;
		position: relative;

        @media screen and (max-width: 1100px) {
             padding-left: 12.5rem;
        }

		@media screen and (max-width: 660px) {
			height: 75px;
		}
		a {
			color: @white;
			text-decoration: none;
			display: inline-block;
			.transition;
		}

		ul {
			.list-reset;
			max-width: 81.000rem;
			overflow: hidden;

			li {
				float: left;
			}
		}

		.hamburger,
		.close {
			display: none;
			font-size: 2rem;
			right: 0;
			top: 1rem;
		  	position: absolute;
			.transition;

			@media screen and (max-width: 660px) {
				display: block;

				&:hover {
					color: @lighter-blue;
				};
			}
		}



		// level one
		.level-1 {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);

			.list-reset;
			max-width: 82.5rem;
			margin-bottom: 1.825rem;
			font-size: 0.750rem;


			@media screen and (max-width: 660px) {
				display: none;
			}

			li {


				margin-right: 1.625rem;
				text-transform: uppercase;

				&.right {
					float: right;
				/*	margin-right: 0;
					margin-left: 1.625rem;*/
				}

				a {
					border-bottom: 1px solid transparent;
					height: 2.5rem;
					line-height: 2.5rem;
					opacity: 0.6;

					&.active,
					&:hover {
						border-color: @green;
						opacity: 1;
					}
				}

				form {

					margin: 0;
					padding: 0;
					display: block;

					input,
					button {
						height: 2.5rem;
						line-height: 2.5rem;
						background: transparent;
						border: 0;
					  	color: @white;
					  	margin: 0;
					  	padding: 0;
					  	float: left;
						text-transform: uppercase;
						.transition;

						&::-webkit-input-placeholder,
						&:-moz-placeholder,
						&::-moz-placeholder,
						&:-ms-input-placeholder {
						   color: @white;
						}
					}

					::-webkit-input-placeholder { /* WebKit browsers */
					    color: @white;
					}
					:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color: @white;
					   opacity:  1;
					}
					::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color: @white;
					   opacity:  1;
					}
					:-ms-input-placeholder { /* Internet Explorer 10+ */
					   color: @white;
					}

					button {
						width: 1.125rem;
						opacity: 0.8;
						font-size: 18px;

						&:hover {
							opacity: 1;
						}
					}

					input {
						border-bottom: 1px solid transparent;
						margin-right: 0.625rem;
						opacity: 0.6;



						@media screen and (max-width: 960px) {
							width: 150px;

						}

						@media screen and (min-width: 1136px) {
							width: 350px;
						}

						.transition(0.2s);

						&:hover {
							opacity: 1;
						};

						&:focus {
							border-color: @green;
							opacity: 1;
						}

						&.wide {
							width: 200px;
						}
					}

				}

			}

		}

		// level two
		.level-2 {
			height: 4.2rem;

			@media screen and (max-width: 660px) {
				display: none;
			}
			@media screen and (max-width: 938px) {
				margin-top: -23px;
			}

			li {
				margin-right: 1.75rem;
				height: 4rem;
				position: relative;

				a {
					display: inline-block;
					line-height: 2.125rem;
					font-weight: normal;
					.transition;
					font-size: 1.125rem;


					&:hover,
					&.active {
						background: @tpdark-green;
						border-bottom: 1px solid @green;
					}

					&.open,
					&.open:hover,
					&.open:focus {
						border-bottom: none;
					}

					&.button {
						opacity: 0.8;
						padding: 0 1.375rem;
						background: rgba(255, 255, 255, 0.1);
					};

				}

				@media screen and (max-width: 885px) {
					margin-right: 0.75rem;

					a {
						font-size: 0.875rem;
						padding: 0;
					}
				}

				span {
					cursor: pointer;
					position: absolute;
				  	bottom: 0;
				  	height: 1.125rem;
				  	left: 0;
				  	background: @white;
				  	width: 100%;
				  	opacity: 0;
					.transition;

					img {
						position: relative;
						bottom: 0;
						left: 50%;
						margin-left: -8px;
						top: -3px;
                        width: 1rem;
					}

					&.active {
						opacity: 1;
					  	background: @ash;
					}

				}
			}
		}
	}


	@media screen and (max-width: 660px) {
		&.opened {
			nav {
				height: auto;
				padding: 0;

				.level-1 {
					display: block;
					position: relative;
					background: @tplightgreen;
					padding-top: 6rem;
					padding-bottom: 0;
					clear: both;

					li {
						float: none;
						overflow: hidden;
						width: 100%;
						margin: 0;
						padding: 0;
						font-size: 0.875rem;
					  	height: 3.125rem;
					  	line-height: 3.125rem;

						.right {
							float: none;
						}

						a {
							display: block;
							width: 100%;
							font-weight: bold;
						  	line-height: 3.125rem;
							opacity: 1;

							&:hover,
							&:focus {
								border: none;
							}
						}

						form {
							width: 100%;
							position: relative;
						}
						input {
							width: 100%;
						}

						button {
							position: absolute;
							top: 0;
							opacity: 0.8;
							right: 0;
						}
					}
				}


				.level-2 {
					display: block;
					float: none;
					position: relative;
					height: auto;
					padding-bottom: 2rem;

					li {
						float: none;
						height: auto;
						margin: 0;
						padding: 0;

						a {
							font-size: 1rem;
							display: block;
							padding: 0;
							background: transparent;
							width: 100%;
						}

						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
