.links-content {
	margin: 0 auto;
	clear: both; /* should always be on it's own */
	background: @lighter-blue;

	&.green {
		background: @light-green;
	}
	&.red {
		background: @red;
	}
	
	.links-block {
		overflow: hidden;
		width: 100%;
		margin-bottom: 1.875rem;
		color: @white;
		
		span.icon-external-link {
			font-size: 2rem;
			display: block;
		}
		
		.left {
			float: left;
			width: 50%;
			padding: 2.250rem 6.25rem 2.250rem 0;
			.boxsizing;

			
			h3 {
				font-size: 1.25rem;
				line-height: 1.5rem;
			}
			
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					padding: 0.625rem 0;
					border-bottom: @white; 
					border-bottom: 1px solid rgba(255,255,255,.5);

					&:last-child {
						border-bottom: 0;
					};

					a {
						display: block;
						color: @white;
						overflow: hidden;

						&:hover {
							color: @dark-blue; 
						}

						span {
							float: right;
							font-size: 1rem;
							line-height: 1.5rem;
						}
					}
				}
			}
			
		}
		
		.image {
			float: right;
			width: 50%;
			font-size: 0;
			line-height: 0;
			
			img {
				width: 100%;
			}
		}
		
		
	}
	
	@media screen and (max-width: 980px){

        .component-alignment.boxed-element {
            padding-left: 0;
            padding-right: 0;
        }
		
		.links-block {
			.left {
				float: none;
				width: 100%;
				padding: 2.250rem 1.75rem;
			}

			.image {
				float: none;
				width: 100%;
			}
		
		}
		
		
	}
	

}