.masonry-content {
	padding: 0 0 2rem;
	margin: 0 auto;
	position: relative;
	
	.tile-c {
		//
		// content tile
		//
		width: 33.3333333%;
		float: left;
		color: @white;
		background: @light-green;
		padding: 1.875rem 2.2rem 1.875rem 2.000rem;
		word-wrap: break-word;
        display: block;

        @media screen and (max-width: 980px) {
            width: 50%;
        }


		a {
			color: @white;

            &.block-anchor {
                display: block;
            }
		}
		
		h3 {
			
			margin: 0;
			position: relative;

            span {
                display: block;
                height: 2rem;
                line-height: 2.250rem;
                font-size: 1rem;
                position: absolute;
                right: -10px;
                opacity: 0.6;
                top: 0;
            }

		}
		
		p {
			margin: 1.5rem 0 0;
			font-size: 1rem;
			line-height: 1.5rem;
		}
		
		.separator-link {
			padding-top: 0.75rem;
			border-top: 1px solid rgba(255, 255, 255, 0.4);
			font-size: 0.875rem;
			margin-top: 2em;
			
			svg {
				position: relative;
				top: 6px;

				line,
				polyline,
				circle,
				rect {
					stroke: #fff;
				}
			}
		}
		
		
		//
		// end content tile
		//
		h3 {
			color: #fff;
		}
		
        &:nth-child(6n + 1) {
            background: @light-green;

            &:hover,
            &:focus {
                background: darken(@light-green, 5%);
            }
        }
		&:nth-child(6n + 2){
			background: @lighter-blue;

			&:hover,
			&:focus {
				background: darken(@lighter-blue, 10%);
			}
		}

		&:nth-child(6n + 3) {
			background: @yellow;

			h3, p {
				color: #444449;
			}

			.separator-link {
				svg {
					line,
					polyline,
					circle,
					rect {
						stroke: #444449;
					}
				}
			}

            &:hover,
            &:focus {
                background: darken(@yellow, 5%);
            }
		}

		&:nth-child(6n + 4) {
			background: @red;

            &:hover,
            &:focus {
                background: darken(@red, 10%);
            }
		}

		&:nth-child(6n + 5) {
			background: @darker-grey;

            &:hover,
            &:focus {
                 background: darken(@darker-grey, 5%);
            }
		}

		&:nth-child(6n + 6) {
			background: @ash;

			h3, p {
				color: #444449;
			}

			.separator-link {
				svg {
					line,
					polyline,
					circle,
					rect {
						stroke: #444449;
					}
				}
			}

            &:hover,
            &:focus {
                 background: darken(@ash, 5%);
            }
		}


        //
        // width holder
        //
        &.width-c {
            padding: 0 !important;
            min-height: 0 !important;
        }
		
		//
		// contact tile
		//
		&.contact-tile {
			background: @ash;
			color: @dark-grey;
			font-size: 1.125rem;
			line-height: 1.5rem;
			padding: 1.875rem 2.875rem 2.75rem 2.875rem;
			float: right;
			top: 0;
			right: 0;
			position: absolute;

			&:hover,
			&:focus {
				background: @ash;
			}

            @media screen and (max-width: 980px) {
                width: 50%;
                padding: 1.875rem 2rem 1.875rem 2.000rem;
            }

            @media screen and (max-width: 640px) {
                width: 100%;
            }
			
			&.left {
				right: auto;
				left: 0;
				top: 500px;
			}
			
			h3 {
				font-size: 1.875rem;
				line-height: 2rem;
				font-weight: 100;
				color: @red;

                @media screen and (max-width: 980px) {
                    font-size: 1.875rem;
                    line-height: 2.5rem;
                }
			}
			
			a {
				color: @dark-grey;
			}
			
			p {
				
				&.contact {
					margin-top: 2.375rem;

                    @media screen and (max-width: 980px) {
                        margin-top: 2rem;
                    }
				}
				
				&.lines {
					margin-top: 1.375rem;
					
					a {
						display: block;
						margin-bottom: 1.375rem;
						
						span {
							margin-right: 1rem;
							display: inline-block;
							top: 3px;
							position: relative;
						}
						
						&:hover {
							color: @blue;
						}
					}
				}
				
			}
		}
		//
		// contact tile end
		//
		
		&.half {
			width: 16.6666666667%;
			padding: 2.625rem 2.125rem;
			
			h3 {
				font-size: 1rem;
			}

			a {
				svg {
					rect, polyline, line, circle {
						stroke: @white;
						.transition;
					}
				}
				
				&:hover {
					color: @blue;
					svg {
						rect, polyline, line, circle {
							stroke: @blue;
							.transition;
						}
					}
				}
			}

		}
		
		&.list-menu {
			background: @lighter-blue;
			padding: 2.625rem 2rem 2.75rem;

			&:hover,
			&:focus {
				background: @lighter-blue;
				cursor: normal;
			}
			
			h3 {
				font-size: 1.125rem;
				line-height: 1.25rem;
				font-weight: 600;
				color: #fff;
				padding-bottom: 1.125rem;
			}
			
			a {
				color: @white;
			}
			
			ul {
				.list-reset;
			}

			li {
				border-bottom: 1px solid rgba(255, 255, 255, 0.3);
				
				a {
					display: block;
					line-height: 1.750rem;
					padding: 1rem 25px 1rem 0rem;
					font-size: 1.2rem;
					position: relative;

					.transition;
					
					@media screen and (max-width: 980px) {
						font-size: 1rem;
						line-height: 1.50rem;
						padding: 1rem 0;
					}
					
					span {
						position: absolute;
					  	margin-top: 5px;
					  	font-size: 16px;
					  	top: 17px;
						right: 0;
					}
					
					&:hover {
						opacity: 0.6;
					}
				}
			}  
			
		}
		
		&.contact-left {
			position: absolute;
			left: 0;
			top: 0;
		}
		
		&.fixed-right {
			position: absolute;
			left: auto;
			right: 0;
			top: 0;
		}
		
		&.no-padding {
			padding: 0;
			.tile-c {
				width: 100%;
				position: relative;
				top: auto;
				right: auto;
				left: auto;
			}
		}
		
		&.image-tile {
			font-size: 0;
			line-height: 0;
			padding: 0;
			position: relative;
			background-size: cover;

			a {
				font-size: 0;
				line-height: 0;
				display: block;
			}

			p {
				color: #fff;
			}

			&.has-link {
				cursor: pointer;

				&:hover,
				&:focus {
					article {
						background: rgba(0, 0, 0, 0.8);
					}
				}
			}
		}

		&.overflow-content {
			position: relative;

			article {
				width: 100%;
				margin-top: 12rem;
				background: rgba(0,0,0,0.4);
				.transition-property(background, 0.4s);
				padding: 1.875rem 2.2rem 1.875rem 2.000rem;
				
				h3 {
					font-size: 1.875rem;
					line-height: 2rem;
					
					a {
						font-size: 1.875rem;
						line-height: 2rem;
					}
				}
			}
		}		
	}

	a.tile-c {
		.transition-background;
	}

	@media screen and (max-width: 1024px) {
		.tile-c {
			&.half {
				width: 33.33333333%;
			}
		}
	}
	
	@media screen and (max-width: 980px) {
		.tile-c {
			width: 50%;
			padding-left: 1rem;
			padding-right: 1rem;

			&.half {
				width: 25%;
			}

			&.list-menu,
			&.half,
			&.contact-tile {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			&.image-tile {
				padding-left: 0;
				padding-right: 0;
			}

			&.overflow-content article {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
	
	@media screen and (max-width: 640px) {
		.tile-c {
			width: 100%;
			
			&.half {
				width: 100%;
			}
		}
	}
}