
.masonry-content {
	padding: 0 0 2rem;
	margin: 0 auto;
	position: relative;

	&.masonry-basic .tile-c {
		min-height: 400px;

		h3 {
			font-size: 1.875rem;
			line-height: 1.1;
			padding-top: 2rem;
			font-weight: 500;

			span {
				top: 2.2rem;
			}
		}

		&.overflow-content h3 {
			padding-top: 0;

			span {
				top: 3px;
			}
		}

		@media screen and (max-width: 640px) {
			min-height: auto;
		}

		&.contact-tile {
			h3 {
				font-size: 2.5rem;
				line-height: 1.15;
				font-weight: 100;
				height: auto;
				color: @red;

            	@media screen and (max-width: 980px) {
            	    font-size: 1.875rem;
            	    line-height: 2.5rem;
            	}
			}
		}
	}

	.tile-c {
		//
		// content tile
		//
		width: 33.3%;
		float: left;
		color: @white;
		min-height: 270px;
		.transition-property(background, 0.2s);
		padding: 1.875rem 2rem 1.875rem 2.000rem;
		word-wrap: break-word;
        display: block;

        &.has-padder {
        	padding: 0;

        	.padder {
				padding: 1.875rem 2rem 1.875rem 2.000rem;
			}
        }

        @media screen and (max-width: 980px) {
            width: 49.9%;
        }


		a {
			color: @white;

            &.block-anchor {
                display: block;
            }
		}

		h3 {
			font-size: 1.4rem;
			line-height: 0.9;
			margin: 0;
			font-weight: 500;
			height: 21.25rem;
			position: relative;

            span {
                display: block;
                height: 2rem;
                line-height: 1.375rem;
                font-size: 1rem;
                position: absolute;
                line-height: 1.5;
                right: -10px;
                opacity: 0.6;
                top: 0;
            }
		}

		.height {
			height: 21.25rem;

			h3 {
				height: auto;
			}

			p {
				font-size: 1.125rem;
				line-height: 1.3322;
				margin-top: 2.2rem;
			}

			@media screen and (max-width: 640px) {
				height: auto;
			}
		}

		p {
			margin: 1.5rem 0 0;
			font-size: 1rem;
			line-height: 1.375;
		}

		.separator-link {
			padding-top: 0.75rem;
			border-top: 1px solid rgba(255, 255, 255, 0.4);
			font-size: 0.875rem;
			line-height: 1rem;
			margin-top: 2em;

			svg {
				position: relative;
				top: 6px;
				margin-right: 4px;
				width: 18px;
				height: 18px;
			}
		}


		//
		// end content tile
		//
		h3 {
			color: #fff;
		}

        &.scheme_green {
            background-color: @light-green;

            &:hover,
            &:focus {
                background-color: darken(@light-green, 5%);
            }
        }

        &.scheme_mint {
            background-color: #2ABB9B;

            &:hover,
            &:focus {
                background-color: darken(#2ABB9B, 10%);
            }
        }

		&.scheme_blue {
			background-color: @lighter-blue;

			&:hover,
			&:focus {
				background-color: darken(@lighter-blue, 10%);
			}
		}

		&.scheme_yellow {
			background-color: @yellow;

			h3, p {
				color: #444449;
			}

			.separator-link {
				border-color: rgba(0, 0, 0, 0.1);
				color: #444449;

				svg {
					line,
					polyline,
					circle,
					rect {
						stroke: #444449;
					}
				}
			}

            &:hover,
            &:focus {
                background-color: darken(@yellow, 5%);
            }
		}

		&.scheme_red {
			background-color: @red;

            &:hover,
            &:focus {
                background-color: darken(@red, 10%);
            }
		}

		&.scheme_black {
			background-color: @darker-grey;

            &:hover,
            &:focus {
                 background-color: darken(@darker-grey, 5%);
            }
		}

		&.scheme_white {
			background-color: @ash;

			h3, p {
				color: #444449;
			}

			.separator-link {
				svg {
					line,
					polyline,
					circle,
					rect {
						stroke: #444449;
					}
				}
			}

            &:hover,
            &:focus {
                 background-color: darken(@ash, 5%);
            }
		}

		&.scheme_mint {
			background-color: #2ABB9B;

            &:hover,
            &:focus {
                 background-color: darken(#2ABB9B, 10%);
            }

			h3, p {
				color: #fff;
			}

			.separator-link {
				svg {
					line,
					polyline,
					circle,
					rect {
						stroke: #fff;
					}
				}
			}
		}

        //
        // width holder
        //
        &.width-c {
            padding: 0 !important;
            min-height: 0 !important;
        }

		&.half {
			width: 16.6666666667%;
			padding: 1.025rem 1rem;

			h3 {
				line-height: 1.3;
				height: 10.1rem;

				@media screen and (min-width: 1160px) {
					font-size: 1.5rem;
				}

				@media screen and (min-width: 1280px) {
					font-size: 1.6rem;
				}
			}

			.height {
				height: 10.1rem;

				h3 {
					height: auto;
				}
			}

			a {
				.transition;

				svg {
					rect, polyline, line, circle {
						stroke: @white;
					}
				}

				&:hover,
				&:focus {
					opacity: 0.8
				}
			}
		}
	}

	.list-menu {
		background: @lighter-blue;
		position: absolute;
		top: 0;
		left: 0;
		padding: 2.625rem 2rem 2.75rem;

		.padder {
			height: 33.75rem;
		}


		&.has-padder {
    		padding: 0;

    		.padder {
    			padding: 2.625rem 2rem 2.75rem;
    		}
    	}

		&:hover,
		&:focus,
		&:nth-child(6n+2):hover,
		&:nth-child(6n+2):focus {
			background: @lighter-blue;
			cursor: normal;
		}

		h3 {
			font-size: 1.125rem;
			line-height: 1.25rem;
			margin: 1rem 0 1.5rem;
			height: auto;
			font-weight: 600;
			color: #fff;
		}

		a {
			color: @white;
		}

		ul {
			.list-reset;
		}

		li {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);

			a {
				display: block;
				line-height: 1.750rem;
				padding: 1rem 25px 1rem 0rem;
				font-size: 1.2rem;
				position: relative;

				.transition;

				@media screen and (max-width: 980px) {
					font-size: 1rem;
					line-height: 1.50rem;
					padding: 1rem 0;
				}

				span {
					position: absolute;
				  	margin-top: 5px;
				  	font-size: 12px;
				  	top: 20px;
					right: 0;
				}

				&:hover,
				&:focus {
					opacity: 0.6;
				}
			}
		}
	}

	.contact-left {
		position: absolute;
		left: 0;
		top: 0;
	}

	.fixed-right {
		position: absolute;
		left: auto;
		right: 0;
		top: 0;
	}

	.no-padding {
		padding: 0;
		.tile-c {
			width: 100%;
			position: relative;
			top: auto;
			right: auto;
			left: auto;
		}
	}

	.tile-c.list-menu .contact-tile {
		// nested
		position: static;
		top: auto;
		left: auto;

		@media screen and (max-width: 980px) {
			width: 100%;
		}
	}

	.contact-tile {
		background: @ash;
		color: @dark-grey;
		font-size: 1.125rem;
		line-height: 1.5rem;
		padding: 2rem 2.875rem 2.75rem 2rem;
		height: 33.75rem;
		float: right;
		top: 0;
		right: 0;
		position: absolute;

		&.basic {
			height: 25rem;
		}

		&:hover,
		&:focus {
			background: @ash;
		}

        @media screen and (max-width: 980px) {
            width: 49.9%;
            padding: 1.875rem 2rem 1.875rem 2.000rem;
        }

        @media screen and (max-width: 640px) {
        	height: auto;
            width: 100%;

            &.basic {
            	height: auto;
            }
        }

		&.left {
			right: auto;
			left: 0;
			top: 500px;
		}

		h3 {
			font-size: 2.5rem;
			line-height: 1.15;
			font-weight: 100;
			height: auto;
			color: @red;

            @media screen and (max-width: 980px) {
                font-size: 1.875rem;
                line-height: 2.5rem;
            }
		}

		a {
			color: @dark-grey;
		}

		p {
			font-size: 1.125rem;

			&.contact {
				margin-top: 2.375rem;

                @media screen and (max-width: 980px) {
                    margin-top: 2rem;
                }
			}

			&.lines {
				margin-top: 1.375rem;

				a {
					display: block;
					position: relative;
					padding-left: 25px;
					margin-bottom: 0.675rem;

					span {
						margin-right: 1rem;
						display: block;
						top: 3px;
						font-size: 18px;
						position: absolute;
						left: 0;
					}

					&:hover {
						color: @tpblue;
					}
				}
			}

		}
	}


	.image-tile {
		font-size: 0;
		line-height: 0;
		min-height: 270px;
		padding: 0;
		position: relative;
		background-size: cover;

		h3 {
			color: #fff !important;
		}

		a {
			font-size: 0;
			line-height: 0;
			display: block;
		}

		p {
			color: #fff !important;
			margin-top: 0.5rem;
			line-height: 1.375;
		}

		&.has-link {
			cursor: pointer;

			&:before {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				content: " ";
				display: block;
				background: rgba(0, 0, 0, 0);
				.transition-property(background, 0.2s);
			}

			&:hover,
			&:focus {
				&:before {
					background: rgba(0, 0, 0, 0.5);
				}

				article {
					background: rgba(0, 0, 0, 0);
				}
			}
		}
	}

	.overflow-content {
		position: relative;

		article {
			width: 80%;
			margin-top: 12rem;
  			height: 13rem;
			background: rgba(0,0,0,0.55);
			float: right;

			.transition-property(background, 0.4s);
			padding: 1.875rem 2.2rem 1.875rem 2.000rem;

			h3 {
				font-size: 1.25rem;
				height: auto;
				font-weight: 600;
				line-height: 2rem;

				a {
					font-size: 1.25rem;
					line-height: 2rem;
				}

				span {
					top: 3px;
				}
			}
		}
	}

	.no-secondary {
		h3 {
			margin-bottom: 4.3rem;
		}
	}

	a.tile-c {
		.transition-background;
	}

	@media screen and (max-width: 1024px) {
		.tile-c {
			&.half {
				width: 33.3%;
			}
		}
	}

	@media screen and (max-width: 980px) {
		.tile-c {
			width: 49.9%;
			padding-left: 1rem;
			padding-right: 1rem;

			&.half {
				width: 25%;

				h3 {
					font-size: 1.2rem;
					height: auto;
				}
			}

			&.list-menu,
			&.half,
			&.contact-tile {
				padding-left: 1rem;
				padding-right: 1rem;

				&.has-padder {
					padding-left: 0;
					padding-right: 0;

					.padder {
						padding-left: 1rem;
						padding-right: 1rem;
					}
				}
			}

			&.image-tile {
				padding-left: 0;
				padding-right: 0;
			}

			&.overflow-content article {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	@media screen and (max-width: 640px) {
		.tile-c {
			width: 100%;

			&.list-menu,
			&.half,
			&.contact-tile {
				&.has-padder {
					.padder {
						height: auto;
					}
				}
			}

			&.half {
				width: 100%;
			}
		}
	}
}


/* Example tokeninput style #2: Mac Style */
fieldset.token-input-mac {
  position: relative;
  padding: 0;
  margin: 5px 0;
  background: #fff;
  width: 400px;
  border: 1px solid #A4BDEC;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

fieldset.token-input-mac.token-input-dropdown-mac {
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.25);
}

ul.token-input-list-mac {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 3px 3px 3px 2.5rem;
    background: transparent;
}

ul.token-input-list-mac.error {
  border: 1px solid #C52020;
}

ul.token-input-list-mac li {
    list-style-type: none;
}

li.token-input-token-mac p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-mac span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* TOKENS */

li.token-input-token-mac {
    margin: 5px 2px 5px 3px;
    padding: 0 10px;
    background: none;
    background-color: #dee7f8;
    color: #000;
    cursor: default;
    border: 1px solid #a4bdec;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    float: left;
}

li.token-input-highlighted-token-mac {
    background-color: #bbcef1;
    border: 1px solid #598bec;
    color: #000;
}

li.token-input-selected-token-mac {
    background-color: #598bec;
    border: 1px solid transparent;
    color: #fff;
}

li.token-input-highlighted-token-mac span.token-input-delete-token-mac {
    color: #000;
}

li.token-input-selected-token-mac span.token-input-delete-token-mac {
    color: #fff;
}

li.token-input-input-token-mac {
    border: none;
    background: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
}

li.token-input-input-token-mac input {
  border: 0;
  width: 200px !important;
  padding: 3px;
  background-color: transparent;
  margin: 0;
}

div.token-input-dropdown-mac {
    position: absolute;
    border: 1px solid #d8d5d0;
    border-top: none;
    z-index: 100;
    left: -1px;
    right: -1px;
    background-color: #fff;
    overflow: hidden;
    cursor: default;
    padding: 0;
    max-width: 75rem;
    clip:rect(0px, 1000px, 1000px, -10px);
}

div.token-input-dropdown-mac p {
    display: none;
}

div.token-input-dropdown-mac h3.token-input-dropdown-category-mac {
  font-size: 10pt;
  font-weight: bold;
  border: none;
  padding: 0 5px;
  margin: 0;
}

div.token-input-dropdown-mac ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-mac ul li {
    list-style-type: none;
    cursor: pointer;
    background: none;
    background-color: #fff;
    margin: 0;
    padding: 0 0 0 25px;
}

div.token-input-dropdown-mac ul li.token-input-dropdown-item-mac {
    background-color: #fff;
}

div.token-input-dropdown-mac ul li.token-input-dropdown-item-mac.odd {
    background-color: #ECF4F9;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

div.token-input-dropdown-mac ul li.token-input-dropdown-item-mac span.token-input-dropdown-item-description-mac {
    float: right;
    font-size: 8pt;
    font-style: italic;
    padding: 0 10px 0 0;
    color: #999;
}

div.token-input-dropdown-mac ul li strong {
    font-weight: bold;
    text-decoration: underline;
    font-style: none;
}

div.token-input-dropdown-mac ul li.token-input-selected-dropdown-item-mac,
div.token-input-dropdown-mac ul li.token-input-selected-dropdown-item-mac.odd {
    background-color: @tplightgreen;
    color: #fff;
}

div.token-input-dropdown-mac ul li.token-input-selected-dropdown-item-mac span.token-input-dropdown-item-description-mac,
div.token-input-dropdown-mac ul li.token-input-selected-dropdown-item-mac.odd span.token-input-dropdown-item-description-mac {
    color: #fff;
}

.related-topics .masonry-content .tile-c {
	min-height: 200px;

	&.half h3 {
  		font-size: 1.175rem;
  		line-height: 1.8rem;
  	}
}

.related-topics .masonry-content {
	.contact-tile {
		height: 400px;
	}
}
