.page-intro {
	
	padding: 3.125rem 1.75rem 1.375rem;
	
	article {
		max-width: 49.75rem;
		margin: 0 auto;
		text-align: center;
		font-size: 1.25rem;
		line-height: 1.75rem;
		
		.title {
			color: @blue;
			margin-bottom: 2.250rem;
		}
		
		p {
			margin-top: 0;
		}
		
		
	}
	
	
	.filter-form {
		width: 100%;
		max-width: 75rem;
		padding: 0 6.125rem;
		margin: 0 auto;
		.boxsizing;
		position: relative;
		
		fieldset {
			border: 0;
			padding: 0 0 1.375rem 0;
			//overflow: hidden;
			
			.subject {
				float: left;
				width: 30%;
				
				
			}
			
			.input {
				float: right;
				width: 68%;
				
				input {
					height: 3.125rem;
					line-height: 3.125rem;
					font-size: 1.250rem;
					width: 100%;
					.border-radius;
					display: block;
					.boxsizing;
					border: 1px solid @grey;
					padding: 0 1.375rem;
				}
			}
		}
		
		.actions {
			float: right;
			
			button {
				border: 0;
			  	background: transparent;
			  	height: 3.125rem;
			  	width: 3.125rem;
			  	top: 0px;
			  	position: absolute;
			  	right: 6.125rem;
				color: @button-grey;
				opacity: 0.2;
				.transition; 
				
				&:hover {
					opacity: 1;
				};
			}
		}
		
	}
	
	.sort-by {
		border-top: 1px solid @grey;
		width: 100%;
		max-width: 75rem;
		margin: 0 auto;
		padding-top: 1rem;
		
		.options {
			float: right;
			font-size: 0.875rem;
			
			label {
				float: left;
				height: 3.125rem;
				line-height: 3.125rem;
				margin-right: 1rem;
			}
			
			.option-holder {
				float: left;
				width: 12.5rem;
				
				.chosen-container-single .chosen-single {
					font-size: 0.875rem;
				}
			}
		}
	}
	&.main {
		background: @white;
		padding-right: 4.375rem;
		padding-left: 4.375rem;

		h1 {
			color: @blue;
		  	font-weight: 400;
		}
	}
}