.search-form {
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		
		input {
			padding: 0.875rem 3.925% 0.875rem 2.075%;
			border: 0.063rem solid @grey;
			-webkit-border-radius: 0.125rem;
		  	-moz-border-radius: 0.125rem;
			border-radius: 0.125rem;
			font-size: 1.125rem;
			width: 100%;
				
		}

        .middleColumn {
            position: relative;
            max-width: 39.75rem;
            width: 100%;
        }
		
		.middleColumn::after {
			.icon-font;
			content: "\e610";
			position: absolute;
			right: 0.5rem;
			top: 1rem;
			font-size: 16px;
			font-weight: bold;
			color: @icon-grey;
		}
		
	}
	
	.submit {
		display: none;
	}
	
}

@media screen and (max-width: 768px){
	.search-form #Search .middleColumn {
		position: relative;
	}
	.search-form fieldset input {
		max-width: 90%;
		width: 90%;
		padding-right: 10%;
	}
	.search-form fieldset .middleColumn::after {
		position: absolute;
		left: 95%;
		top: 50%;
		margin-top: -8px;
	}
}

@media screen and (max-width: 480px){
	.search-form fieldset input {
		max-width: 80%;
		width: 80%;
		padding-right: 20%;
	}
	.search-form fieldset .middleColumn::after {
		left: 90%;	
	}
}